<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908766428964-8mi60c0prdrhrmvm1e098hba6g0rovvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908766428964-8mi60c0prdrhrmvm1e098hba6g0rovvd</string>
	<key>API_KEY</key>
	<string>AIzaSyCvKTaPd-8cZtO1wxnn67I424l7CV9BtC0</string>
	<key>GCM_SENDER_ID</key>
	<string>908766428964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterwithfirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterwithfirebase-4a869</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterwithfirebase-4a869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908766428964:ios:0d8939bf4151e4122b7db1</string>
</dict>
</plist>